[submodule "lib/kity"]
	path = lib/kity
	url = https://github.com/fex-team/kity
[submodule "lib/fui"]
	path = lib/fui
	url = https://github.com/fex-team/fui
[submodule "lib/fio"]
	path = lib/fio
	url = https://github.com/fex-team/fio
