#help-panel {
    .dock(50px, 0, 0, 0);
    overflow-y: auto;
    
    h2 {
        font-weight: normal;
        color: @theme-color;
        margin: 10px 0;
    }
    
    .shortcut-content {
        font-family: 'Microsoft Yahei';
        margin-left: 50px;
        section {
            min-width: 300px;
            margin: 0 20px 20px 0;
            float: left;
            
            h3 {
                border-bottom: 1px solid #EEE;
            }
            
            div.shortcut-group {
                margin: 5px auto;
                
                span.shortcut {
                    display: inline-block;
                    width: 220px;
                    text-align: right;
                    margin-right: 10px;
                }
            }
        }
    }
    
    .contact-content {
        list-style: none;
        margin-left: 50px;
        padding-left: 0;
        li {
            padding: 5px 0;
            
            a {
                -webkit-user-select: initial;
                cursor: text;

                &[href] {
                    cursor: pointer;
                }
            }
        }
    }
}