/**
 * 基本页面样式
 */

html, body, div {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body, svg {
    font-family: Arial, "Microsoft Yahei", "Heiti SC", sans-serif;
}

html, body {
    height: 100%;
}

#content-wrapper {
    overflow: hidden;
    .dock;
    position: fixed;
}

#kityminder {
    .dock(@panel-height, 0, 0, 0);
    -moz-user-select: none;
    
    &.loading {
        svg {
            .blur;
        }
        
        &:after {
            content: ' ';
            display: block;
            .dock;
            background: rgba(128, 130, 140, .75);
        }

        &:before {
            content: ' ';
            width: 40px;
            height: 40px;
            border: 4px solid;
            border-color: #fff transparent transparent;
            box-shadow: 0 0 35px white;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -24px;
            margin-top: -24px;
            z-index: 10;
            border-radius: 100%;
            -webkit-animation: rotate 1.33s ease infinite;
        }
    }
}

@-webkit-keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}
@-moz-keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}
@-ms-keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}
@keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}

#panel {
    background: @ui-color;
    font-family: 'Hiragino Sans GB', 'Arial', 'Microsoft Yahei';
    height: @panel-height;
    overflow: visible;
    position: relative;

    h1 {
        font-size: 14px;
        height: @panel-height;
        line-height: @panel-height;
        margin: 0;
        text-align: center;
        font-weight: normal;
        color: @ui-fore;
    }
}

.fui-widget {
    -webkit-font-smoothing: auto;
}