#panel div.user-panel {
    float: right;
    height: @panel-height;
    line-height: @panel-height;

    .fui-button {

        padding: 5px 10px;
        height: @panel-height - 10px;
        line-height: @panel-height - 10px;

        &:hover {
            background-color: @tab-hover;
        }
        &:active {
            background-color: @tab-active;
        }

        .fui-label {
            font-size: 14px;
            color: @ui-fore;
            vertical-align: baseline;
        }
        &.user-button .fui-label {
            display: none;
        }

        .fui-icon {
            vertical-align: baseline;
            border-radius: 100%;
            img {
                width: 30px;
                height: 30px;
            }
        }
        &.login-button .fui-icon {
            width: 25px;
            height: 25px;
            margin-right: 3px;
            vertical-align: baseline;
            background: url(../images/icons.png) 0 -320px;
        }
    }
}