/*普通按钮*/
.kmui-btn-toolbar .kmui-btn{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    *zoom:1;
    width:auto;
    margin: 0 1px;
    padding:1px;
    border:none;
    background: none;
}
.kmui-btn-toolbar .kmui-btn .kmui-icon{
    width: 20px;
    height: 20px;
    margin: 0;
    padding:0;
    background-repeat: no-repeat;
    background-image: url(../images/icons.png);
    background-image: url(../images/icons.gif) \9;
}

/*状态反射*/
.kmui-btn-toolbar .kmui-btn.kmui-hover,
.kmui-btn-toolbar .kmui-btn.kmui-active{
    background-color: #d5e1f2;
    border: 1px solid #a3bde3;
    padding: 0;
    _z-index: 1;
}
.kmui-btn-toolbar .kmui-btn.kmui-disabled{
    opacity: 0.3;
    filter: alpha(opacity = 30);
}