.kmui-combobox-menu{
    position: absolute;
    display: none;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 5px 0;
    background-color: #ffffff;
    font-size: 12px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, .5);
    border-radius: 3px;
    min-width: 160px;
    _width: 160px;
    -webkit-transform: translateX(2px);
    font-family: Arial, "Heiti SC", "Microsoft Yahei";
}

.kmui-combobox-menu .kmui-combobox-item {
    display: block;
    padding: 2px 15px 2px 2px;
    white-space:nowrap;
}

.kmui-combobox-menu .kmui-combobox-item:first-child:last-child {
    border-radius: 2px;
}

.kmui-combobox-menu .kmui-combobox-item-label {
    height: 25px;
    line-height: 25px;
    display: inline-block;
    vertical-align: middle;
    _display: inline;
    _zoom: 1;
}

.kmui-combobox-menu .kmui-combobox-item:hover, .kmui-combobox-menu .kmui-combobox-stack-item:hover, .kmui-combobox-menu .kmui-combobox-item-hover {
    background: #0099f2; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOTlmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjNDA5NmVlIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNzZkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top,  #0099f2 0%, #4096ee 0%, #0076dd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099f2), color-stop(0%,#4096ee), color-stop(100%,#0076dd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0099f2 0%,#4096ee 0%,#0076dd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0099f2 0%,#4096ee 0%,#0076dd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0099f2 0%,#4096ee 0%,#0076dd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0099f2 0%,#4096ee 0%,#0076dd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099f2', endColorstr='#0076dd',GradientType=0 ); /* IE6-8 */

    color: white;
    /*border: 1px solid #a3bde3;*/
}

.kmui-combobox-menu .kmui-combobox-item .kmui-combobox-icon {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    width: 30px;
    height: 12px;
    line-height: 12px;
    vertical-align: middle;
    background: url(../images/check.png) no-repeat 1000px 1000px;
}

.kmui-combobox-menu .kmui-combobox-checked .kmui-combobox-icon {
    background-position: center 0;
}
.kmui-combobox-menu .kmui-combobox-checked:hover .kmui-combobox-icon {
    background-position: center -12px;
}


.kmui-combobox-menu .kmui-combobox-item-separator {
    min-width: 160px;
    height: 1px;
    line-height: 1px;
    overflow: hidden;
    background: #d3d3d3;
    margin: 5px 0;
    *margin-top: -8px;
}

/* 字体样式校正 */

.kmui-combobox-menu .kmui-combobox-item-disabled {
    color: black;
    opacity: 0.3;
}

.kmui-combobox-menu .kmui-combobox-item-disabled:hover {
    border-color: #fff;
    background: #fff;
    color: black;
}