
.shortcuts-opt {
    margin: 0px 7px;
    background-color: #fff;
    font-size: 14px;
}
.shortcuts-group {
	padding-right: 15px;
    width: 220px;
}
.shortcuts-thead {
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}
#div1 {
	display: none;
}
/*.help-container {
	width: 586px;
	float: left;
}*/
.shortcuts-use {
    width: 160px;
    font-size: 14px;
    font-weight: lighter;
}
.help-header {
	padding-bottom: 9px;
	margin: 20px 20px 30px;
	border-bottom: 1px solid #EEE;
    display: none;
}
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0px;
    float: left;
    margin-left: 10px;
    margin-top: 30px;
}
td {
    display: table-cell;
    float: none;
    margin-left: 0px;
    padding-bottom: 6px;
}
h2 {
	font-size: 31.5px;
	line-height: 40px;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}
.label {
    display: inline-block;
    padding: 2px 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    color: #000;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #fff;
    border-radius: 3px;
    border: 1px inset #999;
}
.right {
    float: right;
}