
html, body, div {
    margin: 0;
    padding: 0;
    /* background: #FFFFFF; */
}
html, body, #kityminder, div.kmui-editor-body {
    overflow: hidden;
    -moz-user-select: none;
}

#title, #panel {
    background: #393F4F;
    font-family: 'Hiragino Sans GB', 'Arial', 'Microsoft Yahei';
    -webkit-font-smoothing: antialiased;
}

#title {
    height: 29px;
    line-height: 27px;
    padding: 0;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 12px;
}

#panel {
    height: 50px;
    overflow: visible;
    padding: 0 15px;
    position: relative;
    border-bottom: 10px solid #5a6378;
}

#panel button {
    height: 40px;
    line-height: 50px;
    padding-left: 45px;
    cursor: pointer;
    color: #a3a6ae;
    margin: 0 15px;
    background: url(../images/menu-icons.png) no-repeat;
}

#menu, #user {
    height: 45px;
    line-height: 40px;
}

#panel button:hover, #panel button.active {
    color: white;
    box-shadow: none;
}

button.dropdown {
    padding-right: 28px;
    position: relative;
}
button.dropdown:after {
    content: ' ';
    display: block;
    position: absolute;
    right: 10px;
    top: 23px;
    width: 0;
    height: 0;
    border: solid;
    border-width: 4px 5px;
    border-color: #a3a6ae transparent transparent transparent;
}
button.dropdown:hover:after, button.dropdown.active:after {
    border-color: #fff transparent transparent transparent;
}

#file-btn:hover, #file-btn.active {
    background-position: 0 -40px;
}


button#tool-btn {
    background-position: 0 -80px;
}

#tool-btn:hover, #tool-btn.active {
    background-position: 0 -120px;
}

#tool-btn.active:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 32px;
    width: 0;
    height: 0;
    border: solid;
    border-width: 14px 15px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #FFF rgba(0, 0, 0, 0);
}

#user {
    position: absolute;
    top: 0;
    right: 10px;
}

#user-btn, #logout-btn, #user.logined #login-btn {
    display: none;
}

#user.logined #user-btn, #user.logined #logout-btn {
    display: inline-block;
}

button#user-btn {
    position: relative;
    margin-right: 0;
}

button#user-btn, button#login-btn {
    background-position: 0 -160px;
}

button#user-btn:hover, button#login-btn:hover {
    background-position: 0 -200px;
}

#user-btn img {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
}

button#logout-btn {
    background: none;
    margin: none;
    padding-left: 0;
}

button#draft-btn {
    background-position: 0 -240px;
}

button#draft-btn:hover, 
button#draft-btn.active {
    background-position: 0 -280px;
}

li#manage-file-button {
    position: relative;
}

li#manage-file-button:before {
    content: ' ';
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 5px;
    background: url(../images/baiducloud.png) no-repeat 3px 0;
}
li#manage-file-button:hover:before {
    background-position: 3px -24px;
}

button#share-btn {
    background-position: 0 -320px;
}

button#share-btn:hover {
    background-position: 0 -360px;
}

#kityminder {
    position: absolute;
    left: 0;
    top: 89px;
    right: 0;
    bottom: 0;
}

.km_receiver{
    width:0;
    height:0;
}
.km-minderNode{
    cursor:default;
}
.kmui-container, .kmui-editor-body {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.kmui-container .kmui-toolbar{
    background-color: #fff;
    z-index: 999;
}
.kmui-container .kmui-toolbar:after {
}
.kmui-toolbar .kmui-btn-toolbar{
    padding: 5px;
    border-bottom: 1px solid #f0f0f0;
}
.kmui-toolbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.kmui-container .kmui-editor-body {
    background: #fbfbfb;
    /*line-height: 0;*/
    overflow: hidden;
}
svg, body {
    font-family: Arial, "Microsoft Yahei", "Heiti SC", sans-serif;
}
#about {
    position:absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    background: #5d697a;
    color: #eee;
    font-family:Arial;
    font-size:13px;
    font-weight:normal;
    margin:0;
    text-align: right;
    padding: 0 15px;
    border-bottom: 5px solid #393F4F;
    padding-left: 5px;
    -webkit-font-smoothing: antialiased;
}
#about a {
    color: #eee;
}
#km-version.new-version{position:relative;padding-right:30px}
#km-version.new-version:after{content:'NEW';color:#ff0;position:absolute;top:-10px;right:-5px;display:block;background:#f00;padding:0 5px;border-radius:4px;text-shadow:none;box-shadow:-1px 1px 3px rgba(0,0,0,0.3);-webkit-transform:scale(.6);-moz-transform:scale(.6);-ms-transform:scale(.6);transform:scale(.6)}
