.kmui-toolbar .kmui-separator{
    width: 2px;
    height: 20px;
    padding: 1px 2px;
    background: url(../images/icons.png) -179px 1px;
    background: url(../images/icons.gif) -179px 1px \9;
    display: inline-block ;
    vertical-align: middle;
    *display: inline ;
    *zoom:1;
    border:none;

}