.kmui-tab-nav {
    margin: 0;
    padding:0;
    border-bottom: 1px solid #ddd;
    list-style: none;
    height:30px;
}
.kmui-tab-nav .kmui-tab-item {
    float:left;
    margin-bottom: -1px;
    margin-top: 1px;
    margin-top: 0\9;
}
.kmui-tab-nav .kmui-tab-item .kmui-tab-text{
    display: block;
    padding:8px 12px;
    border: 1px solid transparent;
    color: #0088cc;
    text-decoration: none;
    outline: 0;
    _border:1px solid #fff ;
    cursor: pointer;
}
.kmui-tab-nav .kmui-tab-item .kmui-tab-text:FOCUS {
    outline: none;
}
.kmui-tab-nav .kmui-tab-item.kmui-active  .kmui-tab-text{
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    background-color: #fff;
    padding:8px 12px;
    color: #555555;
    cursor: default;
}
.kmui-tab-content .kmui-tab-pane{
    padding: 1px;
    position: relative;
    display: none;
    background-color: #fff;
    clear: both;
}
.kmui-tab-content .kmui-tab-pane.kmui-active{
    display: block;
}

