html,
body,
div {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#content-wrapper {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#kityminder {
  position: absolute;
  left: 0;
  top: 48px;
  right: 0;
  bottom: 0;
  -moz-user-select: none;
}
#panel {
  background: #3a4050;
  font-family: 'Hiragino Sans GB', 'Arial', 'Microsoft Yahei';
  height: 40px;
  overflow: visible;
  padding: 0 15px;
  position: relative;
  border-bottom: 8px solid #5A6378;
}
.km_receiver {
  width: 0;
  height: 0;
}
.km-minderNode {
  cursor: default;
}
.kmui-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.kmui-editor-body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.kmui-container .kmui-toolbar {
  background-color: #fff;
  z-index: 999;
}
.kmui-toolbar .kmui-btn-toolbar {
  padding: 5px;
  border-bottom: 1px solid #f0f0f0;
}
.kmui-toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.kmui-container .kmui-editor-body {
  background: #fbfbfb;
  /*line-height: 0;*/
  overflow: hidden;
}
svg,
body {
  font-family: Arial, "Microsoft Yahei", "Heiti SC", sans-serif;
}
#about {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  line-height: 40px;
  background: #5d697a;
  color: #eee;
  font-family: Arial;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  text-align: right;
  padding: 0 15px 0 60px;
  border-bottom: 5px solid #393F4F;
  transition: all ease .3s 0.3s;
  -webkit-transform: translate(100%);
  -moz-transform: translate(100%);
  -ms-transform: translate(100%);
  -o-transform: translate(100%);
  transform: translate(100%);
}
#about:hover,
#about:hover #km-cat {
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
}
#about a {
  color: #eee;
}
#about #km-cat {
  position: absolute;
  left: 15px;
  top: 5px;
  transition: all ease 1.3s 0.3s;
  -webkit-transform: translate(-60px, 0);
  -moz-transform: translate(-60px, 0);
  -ms-transform: translate(-60px, 0);
  -o-transform: translate(-60px, 0);
  transform: translate(-60px, 0);
  cursor: pointer;
}
#about #cat-face {
  fill: #393F4F;
}
#km-version.new-version {
  position: relative;
  padding-right: 30px;
}
#km-version.new-version:after {
  content: 'NEW';
  color: #ff0;
  position: absolute;
  top: -10px;
  right: -5px;
  display: block;
  background: #f00;
  padding: 0 5px;
  border-radius: 4px;
  text-shadow: none;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  transform: scale(0.6);
}
