/*图片上传*/
.kmui-dialog-image-body {
    width: 700px;
    height: 400px;
}
/*插入视频*/
.kmui-dialog-video-body{
    width: 600px;
    height: 350px;
}
/*谷歌地图*/
.kmui-dialog-gmap-body{
    width:550px;
    height: 400px;
}

/*百度地图*/
.kmui-dialog-map-body{
    width:580px;
    height: 400px;
}

/*链接*/
.kmui-dialog-link-body{
    width:400px;
    height:200px;
}