.kmui-container{
    position: relative;
    border: 1px solid #d4d4d4;
    box-shadow: 2px 2px 5px #d3d6da;
    background-color: #fff;
}
.kmui-container .kmui-toolbar{
    position: relative;
    width:auto;
    border-bottom: 1px solid #e1e1e1;
    box-shadow: 2px 2px 5px #d3d6da;
    background-color: #fafafa;
    z-index: 99999;
}
.kmui-toolbar .kmui-btn-toolbar{
    position: relative;
    padding: 5px;
}
.kmui-container .kmui-editor-body{
    background-color: #000000;
}